{% extends "MainPage.html" %}
{% load static %}
{% block title %}
    Hello {{ request.user.first_name }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{ message.first }}</h5>
                </div>
                <div class="card-body">

                    <h1>{{ message.second }}</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}