{% extends "MainPage.html" %}
{% load static %}
{% block title %}
    Hello {{ request.user.username }}
{% endblock %}
{% block content1 %}
    <div style="text-align:center;">
        <div style="background-color:lavender;height:100px;width:100%;position:relative;text-align:;">
            <a href="/"><img src="{% static './img/logo.jpg' %}" style="height:100%;float:left;margin-left:0px;margin-top:0px;" ></a>
            {% if request.user.is_authenticated %}
                <button style="width:15%;float:right;margin-right:30px;margin-top:20px;"><a href="{% url 'logout' %}" >Logout</a></button>
                {% for i in user %}
                    {% if i.name == 'Creator' %}
                        <button style="width:15%;float:right;margin-right:30px;margin-top:20px;"><a href="{% url 'creator:creator_profile' %}" >Profile</a></button>
                    {% endif %}
                {% endfor %}
            {% else %}
                <button style="width:15%;float:right;margin-right:30px;margin-top:20px;"><a href="#" onclick="showLogin()">Login</a></button>
            {% endif %}
        </div>
    </div>
    <div class="table-responsive">
                        <table  class="table table-hover">
        <thead class="text-center">
        </thead>
        <tbody class="text-center">
            <tr>
                <td>mobile</td>
                <td>{{ creator.mobile }}</td>
            </tr>
            <tr>
                <td>nic</td>
                <td>{{ creator.nic }}</td>
            </tr>
            <tr>
                <td>bank_account</td>
                <td>{{ creator.bank_account }}</td>
            </tr>
            <tr>
                <td>easypaisa</td>
                <td>{{ creator.easypaisa }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}