{% extends "MainPage.html" %}
{% load static %}
{% block title %}
    Hello {{ request.user.first_name }}
{% endblock %}
{% block address %}
    <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="{% url 'school:main' %}">School</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Class</a></li>
    <li class="breadcrumb-item"><a href="javascript:">{{ clas }}</a></li>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h5>All Periods Of Day : {{ date }}</h5>
                </div>
                <div class="card-block table-border-style">
                    <h3 class="text-center" style="font-family:sans-serif;">Class {{ clas }}</h3>
                    <br>
                    <div class="table-responsive">
                        <table  class="table table-hover">
                        <thead class="text-center">
                            <tr>
                                <th>Period</th>
                                <th>Subject</th>
                                <th>Module</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            {% for i in content %}
                                <tr>
                                    <td><a href="{% url 'school:content' i.pk %}">Period = {{ i.period }}</a></td>
                                    <td>{{ i.subject }}</td>
                                    <td>{{ i.module }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
</div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table  class="table table-hover">
                        <thead class="text-center">
                            <tr>
                                <td style="width: 70%;">* If You Are A Teacher</td>
                                <td><a class="btn btn-primary" href="{% url 'school_visitors:visited_Teachers_create' %}">Click Here</a></td>
                            </tr>
                            <tr>
                                <td>* If You Are A School Owner</td>
                                <td><a class="btn btn-primary" href="{% url 'school_visitors:visited_Schools_create' %}">Click Here</a></td>
                            </tr>
                            <tr>
                                <td>* If You Are A Parent</td>
                                <td><a class="btn btn-primary" href="{% url 'school_visitors:visited_Parents_create' %}">Click Here</a></td>
                            </tr>
                        </thead>
                    </table>
</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}