{% extends "MainPage.html" %}
{% load static %}
{% block title %}
    Hello {{ request.user.first_name }}
{% endblock %}
{% block address %}
    <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="{% url 'shop:product_list' %}">Shop</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Order</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Detail</a></li>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Order Detail</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table  class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Order Number</th>
                                    <td>{{ order }}</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Order User</th>
                                    <td>{{ order.user }}</td>
                                </tr>
                                <tr>
                                    <th>Order Status</th>
                                    <td><a href="javascript:">{{ order.status }}</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="table-responsive">
                        <table  class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Products</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody> 
                                {% for v in products %}
                                    <tr>
                                        <td>{{ v.product }}</td>
                                        <td>{{ v.qty }}</td>
                                        <td>{{ v.price }}</td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <th>Total</th>
                                    <th></th>
                                    <th>{{ total }}</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <br>
                    <br>
                    {% if order.status == 'Delivered' or order.status == 'DeliveryCalled' %}
                    {% else %}
                        <form method="POST" action="{% url 'shop_orders:call_for_delivery' %}">
                            {% csrf_token %}
                            <input type="text" value="{{ shop.pk }}" name="shop" readonly required hidden />
                            <input type="text" value="{{ order.pk }}" name="order" readonly required hidden />
                            <button class="btn btn-primary" >Click Here</button> If The Order Is Ready</a>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<a class="btn btn-primary" href="{% url 'shop_delivery:call_for_delivery' %}" >Click Here</a> If The Order Is Ready</a>