{% load static %}
<nav class="pcoded-navbar" id="pcoded-navber">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a target="_blank" href="/" class="b-brand">
                <div class="b-bg">
                    <img class="feather" src="{% static 'assets/images/Logo.png' %}" style="width: 50px;opacity: 100%;transform: none;">
                    <!-- <i class="feather icon-trending-up"></i> -->
                </div>
                <span class="b-title feather" >App</span>
                <a class="mobile-menu on" id="mobile-collapse" href="javascript:"><span></span></a>
            </a>
        </div>
        <div class="navbar-content scroll-div" style="padding-right: 6px;">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>
                <br>
                <li data-username="" class="nav-item  active ">
                    <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-layers"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                </li>
                <br>
                <!-- Shop  -->
                {% if request.user.is_authenticated %}
                    <li class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-shopping-cart"></i></span><span class="pcoded-mtext">Shop</span></a>
                        <ul class="pcoded-submenu">
                            <li><a href="{% url 'shop:product_list' %}" >Home</a></li>
                            {% if user %}
                                {% for i in user %}
                                    {% if i.name == "Shop_Creator" %}
                                        {% if shop == 'NoShop' %}
                                            <li><a href="{% url 'shop:shop_products' %}" >Register Shop</a></li>
                                        {% else %}
                                            <li><a href="{% url 'shop:shop_products' %}" >My Shop</a></li>
                                            <li><a href="{% url 'shop:shop_orders' %}" >Orders</a></li>
                                        {% endif %}
                                    {% elif i.name == "Shop_Public" %}
                                        <li><a href="{% url 'shop_cart:cart_detail' %}">My Cart</a></li>
                                        <li><a href="{% url 'shop_costumer:previous_orders' %}">My Orders</a></li>
                                    {% elif i.name == "Delivery" %}
                                        <li><a href="{% url 'shop_delivery:delivery_person_tasks' %}">My Tasks</a></li>
                                        <li><a href="{% url 'shop_delivery:delivery_person_data' %}">My Data</a></li>
                                    {% elif i.name == "Admin" %}
                                        <li><a href="{% url 'shop:shop_list' %}">Shops</a></li>
                                        <li><a href="{% url 'shop_account:accounts_list' %}">Accounts</a></li>
                                    {% else %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </li>
                {% else %}
                    <li data-username="" class="nav-item  active ">
                        <a href="{% url 'shop:product_list' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-shopping-cart"></i></span><span class="pcoded-mtext">Shop</span></a>
                    </li>
                {% endif %}
                <!-- End Shop  -->
                <br>
                <li class="nav-item pcoded-hasmenu">
                    {% if request.user.is_authenticated %}
                    <a href="javascript:" class="nav-link"><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">School</span></a>
                    <ul class="pcoded-submenu">
                        <li><a href="{% url 'school:main' %}" class="nav-link">Home</a></li>
                        {% if user %}            
                            {% for i in user %}
                                {% if i.name == 'Teacher' %}
                                    <li><a href="{% url 'school_teacher:teacher_profile' %}">My Profile</a></li>
                                {% elif i.name == 'Admin' %}
                                    <li><a href="{% url 'school_admin:profiles' %}">All Profiles</a></li>
                                {% elif i.name == 'Checker' %}
                                    <li><a href="{% url 'school_checker:checker_profile' %}">My Profile</a></li>
                                {% elif i.name == 'School' %}
                                    <li><a href="{% url 'school_reg_school:school_profile' %}">My Profile</a></li>
                                {% elif i.name == 'Parent' %}
                                    <li><a href="{% url 'school_parents:parent_profile' %}">My Profile</a></li>
                                {% elif i.name == 'Individuals' %}
                                    <li><a href="{% url 'school_individuals:indivisual_profile' %}">My Profile</a></li>
                                {% elif i.name == 'School_Public' %}
                                    {% if student == 'NoStudent' %}
                                        <li><a href="{% url 'school_individuals:indivisuals_create' %}">Enroll</a></li>
                                    {% endif %}
                                {% endif %}
                                {% if i.name == 'Teacher' or i.name == 'Admin' %}
                                    <li class="nav-item pcoded-hasmenu" style="list-style: none;">
                                        <a href="javascript:" class="nav-link"><span class="pcoded-mtext">Teach</span></a>
                                        <ul class="pcoded-submenu">
                                            <li><a href="{% url 'school:date_select' %}">Start Class</a></li>
                                        </ul>
                                    </li>
                                {% endif %}
                                {% if i.name == 'Admin' %}
                                    <li class="nav-item pcoded-hasmenu" style="list-style: none;">
                                        <a href="javascript:" class="nav-link"><span class="pcoded-mtext">Add</span></a>
                                        <ul class="pcoded-submenu">
                                            <li><a href="{% url 'school:select_to_add' %}">All</a></li>
                                            <div class="dropdown-divider"></div>
                                            <li><a href="{% url 'school:exam_form' %}">Exam</a></li>
                                            <li><a href="{% url 'school:class_form' %}">Class</a></li>
                                            <li><a href="{% url 'school:content_form' %}">Content</a></li>
                                            <li><a href="{% url 'school:subject_form' %}">Subject</a></li>
                                            <li><a href="{% url 'school:module_form' %}">Module</a></li>
                                            <li><a href="{% url 'school:class_subject_form' %}">Class Subject</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item pcoded-hasmenu" style="list-style: none;">
                                        <a href="javascript:" class="nav-link"><span class="pcoded-mtext">View</span></a>
                                        <ul class="pcoded-submenu">
                                            <li><a href="{% url 'school:all' %}">All</a></li>
                                            <li><a href="{% url 'school:exam' %}">Exam</a></li>
                                            <li><a href="{% url 'school:class' %}" >Class</a></li>
                                            <li><a href="{% url 'school:content' %}" >Content</a></li>
                                            <li><a href="{% url 'school:subject' %}" >Subject</a></li>
                                            <li><a href="{% url 'school:module' %}" >Module</a></li>
                                            <li><a href="{% url 'school:class_subject' %}" >Class Subject</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item pcoded-hasmenu" style="list-style: none;">
                                        <a href="javascript:" class="nav-link"><span class="pcoded-mtext">Individual</span></a>
                                        <ul class="pcoded-submenu">
                                            <li><a href="{% url 'school_individuals:indivisuals_list' %}">All</a></li>
                                        </ul>
                                    </li>
                                {% endif %}
                                {% if i.name == 'DataHandler' %}
                                    <li class="nav-item pcoded-hasmenu" style="list-style: none;">
                                        <a href="javascript:" class="nav-link"><span class="pcoded-mtext">Content</span></a>
                                        <ul class="pcoded-submenu">
                                            <li><a href="{% url 'school:content' %}" >View Content</a></li>
                                        </ul>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </ul>
                {% else %}
                    <li data-username="" class="nav-item active">
                        <a href="{% url 'school:main' %}" class="nav-link"><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">School</span></a>
                    </li>
                {% endif %}
                </li>
                <br>
                <li class="nav-item pcoded-hasmenu">
                    {% if request.user.is_authenticated %}
                        <a href="javascript:" class="nav-link"><span class="pcoded-micon"><i class="feather icon-mic"></i></span><span class="pcoded-mtext">Blog</span></a>
                        <ul class="pcoded-submenu">
                            <li><a href="{% url 'blog_blog:blog_list' %}" class="nav-link">Home</a></li>
                            {% if user %}            
                                {% for i in user %}
                                    {% if i.name == "Blog_Creator" %}
                                        <li><a href="{% url 'blog_blog:user_blog_list' %}" >My Blogs</a></li>
                                    {% elif i.name == "Blog_Public" %}
                                    {% elif i.name == "Admin" %}
                                    {% else %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </ul>
                    {% else %}
                        <li data-username="" class="nav-item  active ">
                            <a href="{% url 'blog_blog:blog_list' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-mic"></i></span><span class="pcoded-mtext">Blog</span></a>
                        </li>
                    {% endif %}
                </li>
                <br>
                <li class="nav-item pcoded-hasmenu">
                    {% if request.user.is_authenticated %}
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-mic"></i></span><span class="pcoded-mtext">RelationShips</span></a>
                        <ul class="pcoded-submenu">
                            <li><a href="{% url 'relationships:home' %}" class="nav-link">Home</a></li>
                            {% if user %}
                                {% for i in user %}
                                    {% if i.name == "Matrinomial_Public" %}
                                        <li><a href="{% url 'candidate:info' %}" class="nav-link">My Info</a></li>
                                        <li><a href="{% url 'candidate:candidate_matches' %}" class="nav-link">My Matches</a></li>
                                    {% elif i.name == "RAdmin" %}
                                        <li><a href="{% url 'candidate:candidate_list' %}" class="nav-link">All Info</a></li>
                                        <li><a href="{% url 'relationships_matching:matched_list' %}" class="nav-link">Matched List</a></li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </ul>
                    {% else %}
                        <li data-username="" class="nav-item  active ">
                            <a href="{% url 'relationships:home' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-mic"></i></span><span class="pcoded-mtext">RelationShips</span></a>
                        </li>
                    {% endif %}
                </li>
                <br>
                <li data-username="" class="nav-item ">
                    <a href="https://www.youtube.com" class="nav-link "><span class="pcoded-micon"><i class="feather icon-play-circle"></i></span><span class="pcoded-mtext">Youtube</span></a>
                </li>
                <br>
                <li data-username="" class="nav-item ">
                    <a href="https://www.facebook.com"" class="nav-link "><span class="pcoded-micon"><i class="feather icon-facebook"></i></span><span class="pcoded-mtext">Facebook</span></a>
                </li>
                <br>
                {% if request.user.is_authenticated %}
                    <li class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-mic"></i></span><span class="pcoded-mtext">My Profile</span></a>
                        <ul class="pcoded-submenu">
                            <li><a href="{% url 'user:user_profle' %}" class="nav-link">Profile</a></li>
                            <li><a href="{% url 'points:user_points' %}" class="nav-link">My Points</a></li>
                        </ul>
                    </li>
                    <br>
                {% endif %}
                <li data-username="" class="nav-item ">
                    <a href="{% url 'about_us' %}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-user"></i></span><span class="pcoded-mtext">About Us</span>
                    </a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Authentication</label>
                </li>
                <li data-username="Disabled Menu" class="nav-item">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'Authentication:logout' %}" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Logout</span>
                        </a>
                    {% else %}
                        <a href="javascript:" onclick="showLogin()" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Login</span>
                        </a>
                    {% endif %}
                </li>
                <br>
            </ul>
        </div>
    </div>
</nav>