{% extends "MainPage.html" %}
{% load static %}
{% block title %}
    Hello {{ request.user.user }}
{% endblock %}
{% block link %}
<link rel="stylesheet" href="{% static 'assets/css/calendar.css' %}">
{% endblock %}
{% block address %}
<li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
<li class="breadcrumb-item"><a href="{% url 'school:main' %}">School</a></li>
<li class="breadcrumb-item"><a href="javascript:">Demo</a></li>
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Demo</h5>
        </div>
        <div class="card-body">
          <!-- <iframe style="width: 100%;height:75%;" src="https://www.youtube.com/embed/gB7mrlWFaEY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe> -->
          <h5 class="text-center">Click on any Day</h6><hr/>
          <!-- <ul class="wc-calendar__days-names">
            <li class="wc-calendar__days-names__item">Mon</li>
            <li class="wc-calendar__days-names__item">Tue</li>
            <li class="wc-calendar__days-names__item">Wed</li>
            <li class="wc-calendar__days-names__item">Thu</li>
            <li class="wc-calendar__days-names__item">Fri</li>
            <li class="wc-calendar__days-names__item">Sat</li>
            <li class="wc-calendar__days-names__item">Sun</li>
          </ul> -->
          <br>
          <h6 class="text-center">Week 1</h6><br>
          <ul class="wc-calendar__days-list">
            {% for i in date1 %}
            <a role="button" href="{% url 'school:demo_list' i %}" class="wc-calendar__days-list__item">{{ i }}</a>
            {% endfor %}
          </ul>
          <h6 class="text-center">Week 2</h6><br>
          <ul class="wc-calendar__days-list">
            {% for i in date2 %}
                <a role="button" href="{% url 'school:demo_list' i %}" class="wc-calendar__days-list__item">{{ i }}</a>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}