{% extends "MainPage.html" %}
{% load static %}
{% block address %}
<li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
<li class="breadcrumb-item"><a href="javascript:">School</a></li>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>Online Helping Tool For All Schools And Parents</h5>
            </div>
            <div class="card-body">
                <h1 class="text-center main-heading" style="font-family:sans-initial;font-style: oblique;"></h1>

                <img src="{% static './assets/images/School.png' %}" style="width:100%;">

                <br>
                <br>

                <a class="btn btn-primary form-control" href="{% url 'school:demo' %}">Start Demo</a>
                {% if request.user.is_authenticated %}
                    {% if user %}            
                        {% for i in request.session.user %}
                            {% if i == 'School_Public' %}
                                {% if student %}
                                {% else %}
                                    <a class="btn btn-primary form-control" href="{% url 'school_individuals:indivisuals_create' %}">Enroll Yourself</a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}