{% extends "MainPage.html" %}
{% load static %}
{% block title %}
    Hello {{ request.user.first_name }}
{% endblock %}
{% block address %}
    <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="{% url 'shop:product_list' %}">Shopping</a></li>
    <li class="breadcrumb-item"><a href="{% url 'shop_cart:cart_detail' %}">Cart</a></li>
    <li class="breadcrumb-item"><a href="javascript:">No Items</a></li>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{ return }}</h5>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        window.alert('No Items Selected');
    </script>
{% endblock %}
