{% extends "MainPage.html" %}
{% load static %}
{% block title %}
    Hello {{ request.user.username }}
{% endblock %}
{% block content %}
    <button><a href="{% url 'shop_account:delivery_account' %}">My Account</a></button>
    <div class="table-responsive">
                        <table  class="table table-hover">
        <thead class="text-center">
            <tr>
                <th>Order</th>
                <th>Date</th>
                <th>Status</th>
                <th>Fees</th>
            </tr>
            <tr>
                <th></th>
                <th>Pending</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        {% for i in tasks %}
            <tbody class="text-center">
                {% if i.status != 'Completed' %}
                    <tr>
                        <td><a href="{% url 'delivery:delivery_person_task_detail' i.pk %}">{{ i.order }}</a></td>
                        <td>{{ i.date }}</td>
                        <td>{{ i.status }}</td>
                    </tr>
                {% endif %}
            </tbody>
        {% endfor %}
        <thead class="text-center">
            <tr>
                <th></th>
                <th>Completed</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        {% for i in tasks %}
            <tbody class="text-center">
                {% if i.status != 'Completed' %}
                {% else %}
                    <tr>
                        <td><a href="{% url 'delivery:delivery_person_task_detail' i.pk %}">{{ i.order }}</a></td>
                        <td>{{ i.date }}</td>
                        <td>{{ i.status }}</td>
                        <td>{{ i.order.delivery }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}
