{% extends "MainPage.html" %}
{% load static %}
{% block title %}
    Hello {{ request.user.first_name }}
{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <h5>User Profile</h5>
        </div>
        <div class="card-body">
            {{ cur_user.pk }}<br>
            {{ cur_user.username }}<br>
            {{ cur_user.first_name }} {{ cur_user.last_name }}<br>
            {{ cur_user.email }}<br>
            {% for i in user %}
                {{ i.name }}
            {% endfor %}<br>
            {{ cur_user.last_login }}<br>
            {{ cur_user.date_joined }}<br>
        </div>
    </div>
{% endblock %}