{% extends "MainPage.html" %}
{% load static %}
{% block title %}
    Hello {{ request.user.first_name }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>All Previous Orders</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table  class="table table-hover">
                            <thead class="text-center">
                                <tr>
                                    <th>Order Number</th>
                                    <th>Order Items</th>
                                    <th>Price</th>
                                    <th>Qty</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            {% for i in orders %}
                                <tbody class="text-center">
                                    <tr>
                                        <td>{{ i.pk }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    {% for v in i.items %}
                                    <tr>
                                        <td></td>
                                        <td>
                                            {{ v.product }}
                                        </td>
                                        <td>
                                            {{ v.price }} + {{ i.order.delivery }}
                                        </td>
                                        <td>
                                            {{ v.quantity }}
                                        </td>
                                        <td>
                                            {{ i.order.status }}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}