{% extends "MainPage.html" %}
{% load static %}
{% block address %}
    <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">RelationShips</a></li>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Relationships Info</h5>
                </div>
                <div class="card-body">
                    <div style="float:right;">
                        {% if request.user.is_authenticated %}
                            {% if user %}
                                {% for i in user %}
                                    {% if i.name == 'Matrinomial_Public' %}
                                        <h6>If You Want To Add Your Data <a href="{% url 'candidate:add_data' %}" class="btn btn-primary">Click Here</a></h6>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% else %}
                            <h6>If You Want To Add Your Data <a href="{% url 'candidate:add_data' %}" class="btn btn-primary">Click Here</a></h6>
                        {% endif %}
                        {% if candidates %}
                    </div>
                    <h3>Our Candidates</h3>
                    <div class="table-responsive">
                        <table  class="table table-hover">
                        <thead class="text-center">
                        </thead>
                        <tbody class="text-center">
                            {% for i in candidates %}
                                <tr>
                                    <td>{{ i.name }}</td>
                                </tr>
                                <tr>
                                    <td>{{ i.address }}</td>
                                </tr>
                                <tr>
                                    <td>{{ i.gender }}</td>
                                </tr>
                                <tr>
                                    <td><hr></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
</div>
                    {% endif %}
                    <br>
                    <br>
                    <br>
                    {% if success_stories %}
                    <h3>Success Stories</h3>
                    <div class="table-responsive">
                        <table  class="table table-hover">
                        <tbody class="text-center">
                            {% for i in success_stories %}
                            <tr>
                                <td>{{ i.name }}</td>
                            </tr>
                            <tr>
                                <td><textarea style="border: none;width: 90%;resize:none;" readonly>{{ i.address }}</textarea></td>
                            </tr>
                            <tr>
                                <td>{{ i.gender }}</td>
                            </tr>
                            <tr>
                                <td><hr></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}