{% extends "MainPage.html" %}
{% load static %}
{% block title %}
    Hello {{ request.user.first_name }}
{% endblock %}
{% block address %}
    <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="{% url 'school:main' %}">School</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Checker</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Profile</a></li>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>My Classes</h5>
                </div>
                <div class="card-body">
                    <a class="btn btn-primary" href="{% url 'school_checker:checker_class_create' checker.pk %}">Add New Class</a>
                    <div class="table-responsive">
                        <table  class="table table-hover">
                            <tbody class="text-center">
                                {% for i in class %}
                                    <tr>
                                        <td><a href="{% url 'school_checker:full_class' i.checker.pk i.pk %}" >{{ i.subject }}</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}