{% extends "MainPage.html" %}
{% load static %}
{% block title %}
    Hello {{ request.user.username }}
{% endblock %}
{% block address %}
    <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="{% url 'blog:blog_list' %}">Blogs</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Post</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Deleted</a></li>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Post Deleted</h5>
                </div>
                <div class="card-body">
                    <h1>Your Post Has Been Deleted SuccessFully</h1>
                    <a class="btn btn-primary" href="{% url 'post:post_list' blog.pk %}">Go To {{ blog }} Posts</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}