{% extends "MainPage.html" %}
{% load static %}
{% block title %}
    Hello {{ request.user.first_name }}
{% endblock %}
{% block address %}
<li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
<li class="breadcrumb-item"><a href="{% url 'blog_blog:blog_list' %}">Blog</a></li>
<li class="breadcrumb-item"><a href="javascript:">Posts</a></li>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    {% if request.user.is_authenticated %}
                        {% for k in request.session.user %}
                            {% if k == 'Blog_Creator' %}
                                <a class="btn btn-primary" href="{% url 'blog_post:post_create' my_blog.pk %}">Create Post</a>
                                <a class="btn btn-primary" href="{% url 'blog_blog:blog_edit' my_blog.pk %}">Edit Blog</a>
                                <a class="btn btn-primary" href="{% url 'blog_tags:blog_tags' my_blog.pk %}">Manage Tags</a>
                                <a class="btn btn-primary" href="javascript:" onclick="var result = confirm('Want to delete?');if (result) {window.location = '{% url 'blog_blog:blog_delete' my_blog.pk %}';}">Delete Blog</a>                                
                                
                                <div class="btn-group mb-2 mr-2">
                                    <a type="button" class="btn btn-info" style="color: white;" href="{% url 'blog_bunch:blog_bunch_list' my_blog.pk %}">Bunches</a>
                                    <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></button>
                                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(66px, 43px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        {% for i in bunches %}
                                        <a class="dropdown-item" href="{% url 'blog_post:post_list_by_bunch' i.pk %}">{{ i.name }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% elif k == 'Admin' %}
                                <a class="btn btn-primary" href="{% url 'blog_post:bulk_post_create' my_blog.pk %}">Create Bulk Post</a>
                            {% elif k == 'Blog_Public' %}                                
                                <div class="btn-group mb-2 mr-2">
                                    <a type="button" class="btn btn-info" style="color: white;" href="{% url 'blog_bunch:blog_bunch_list' my_blog.pk %}">Bunches</a>
                                    <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></button>
                                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(66px, 43px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        {% for i in bunches %}
                                            <a class="dropdown-item" href="{% url 'blog_post:post_list_by_bunch' i.pk %}">{{ i.name }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5>{{ my_blog }}{% if my_bunch != 'None' %} > {{ my_bunch }}{% endif %} </h5>
                    <div class="float-right"><a class="btn btn-primary" href="{% url 'blog_blog:user_blog_list' my_blog.user %}">More</a></div>
                    <br>
                    <br>
                    {% if tags %}
                        <div>
                            {% for i in tags %}
                                <a href="{% url 'blog_tags:tag_detail' i.tag.pk %}" style="padding-right: 5px;">#{{ i }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if my_blog.description %}{{ my_blog.description }}{% endif %}
                </div>
                <div class="card-body">
                    <div class="row">
                        {% for i in posts %}
                            <div class="col-md-12 col-xl-4">
                                <div class="card block-card" style="{% if i.post.selected == 'True' %}background-color:#7ac1ff;color:black;{% endif %}">
                                    <div class="card-header">
                                        <h5><a style="{% if i.post.selected == 'True' %}color:black;{% endif %}" href="{% url 'blog_post:post_detail' i.post.pk %}">{{ i.post.name }}</a></h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="text-center">{{ i.post.description }}</div>
                                        <br>
                                        <div class="text-center">
                                            <a href="{% url 'blog_post:post_detail' i.post.pk %}">
                                                {% if i.post.image %}
                                                    <div><img class="col-9" src="{{ i.post.image.url }}"></div>
                                                {% else %}
                                                        <div><img class="col-9" src="{% static 'assets/images/noimg.png' %}"></div>
                                                {% endif %}
                                            </a>
                                        </div>
                                        <br>
                                        <div style="width: 100%;">
                                            {% for p in i.reacts %}
                                                <div style="width: {{ i.width }}%;float: left;">
                                                    <i class="feather {{ p.type.icon }}">{{ p.total }}</i>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <br>
                                        <br>
                                        {% if request.user.is_authenticated %}
                                            {% for k in request.session.user %}
                                                {% if k == 'Blog_Creator' %}
                                                    <a class="btn btn-primary" href="{% url 'blog_post:post_edit' i.post.pk %}">Edit</a>
                                                    <a class="btn btn-primary" href="{% url 'blog_tags:post_tags' i.post.pk %}">Tags</a>
                                                    <a class="btn btn-primary" href="javascript:" onclick="var result = confirm('Want to delete?');if (result) {window.location = '{% url 'blog_post:post_delete' i.post.pk %}';}">Delete</a>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        <br>
                                        <a style="font-size: 10px;color: #000000;">Posted On {{ i.post.time }}</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}