
    <h6 class="text-center">Here Is Your Time Table</h6><hr/>
    <br>
    <div class="container">
      <ul class="wc-calendar__days-names">
        <li class="wc-calendar__days-names__item"></li>
        <li style="font-weight: bold;" class="wc-calendar__days-names__item">Mon</li>
        <li style="font-weight: bold;" class="wc-calendar__days-names__item">Tue</li>
        <li style="font-weight: bold;" class="wc-calendar__days-names__item">Wed</li>
        <li style="font-weight: bold;" class="wc-calendar__days-names__item">Thu</li>
        <li style="font-weight: bold;" class="wc-calendar__days-names__item">Fri</li>
      </ul>
      <br>
      <ul class="wc-calendar__days-list">
        <li style="font-weight: bold;" class="wc-calendar__days-names__item">1</li>
        <li style="font-size:10;" class="wc-calendar__days-names__item">Biology</li>
        <li style="font-size:10;" class="wc-calendar__days-names__item">Physics</li>
        <li style="font-size:10;" class="wc-calendar__days-names__item">Physics</li>
        <li style="font-size:10;" class="wc-calendar__days-names__item">Physics</li>
        <li style="font-size:10;" class="wc-calendar__days-names__item">Biology</li>
      </ul>
      <br>
      <ul class="wc-calendar__days-list">
        <li style="font-weight: bold;" class="wc-calendar__days-names__item">2</li>
        <li style="font-size:10;" class="wc-calendar__days-names__item">Chemistry</li>
        <li style="font-size:10;" class="wc-calendar__days-names__item">Math</li>
        <li style="font-size:10;" class="wc-calendar__days-names__item">Chemistry</li>
        <li style="font-size:10;" class="wc-calendar__days-names__item">Math</li>
        <li style="font-size:10;" class="wc-calendar__days-names__item">Physics</li>
      </ul>
      <br>
      <ul class="wc-calendar__days-list">
        <li style="font-weight: bold;" class="wc-calendar__days-names__item">3</li>
        <li style="font-size:10;" class="wc-calendar__days-names__item">English</li>
        <li style="font-size:10;" class="wc-calendar__days-names__item">Activity</li>
        <li style="font-size:10;" class="wc-calendar__days-names__item">English</li>
        <li style="font-size:10;" class="wc-calendar__days-names__item">Pak-Studies</li>
        <li style="font-size:10;" class="wc-calendar__days-names__item">Math</li>
      </ul>
      <br>
      <ul class="wc-calendar__days-list">
        <li style="font-weight: bold;" class="wc-calendar__days-names__item">4</li>
        <li style="font-size:10;" class="wc-calendar__days-names__item">Character<br>Building</li>
        <li style="font-size:10;" class="wc-calendar__days-names__item">English</li>
        <li style="font-size:10;" class="wc-calendar__days-names__item">Pak-Studies</li>
        <li style="font-size:10;" class="wc-calendar__days-names__item">Chemistry</li>
        <li style="font-size:10;" class="wc-calendar__days-names__item">Pak-Studies</li>
      </ul>
      <br>
      <ul class="wc-calendar__days-list">
        <li style="font-weight: bold;" class="wc-calendar__days-names__item">5</li>
        <li style="font-size:10;" class="wc-calendar__days-names__item">Pak-Studies</li>
        <li style="font-size:10;" class="wc-calendar__days-names__item">Character<br>Building</li>
        <li style="font-size:10;" class="wc-calendar__days-names__item">Activity</li>
        <li style="font-size:10;" class="wc-calendar__days-names__item">Character<br>Building</li>
        <li style="font-size:10;" class="wc-calendar__days-names__item">English</li>
      </ul>
      <br>
      <ul class="wc-calendar__days-list">
        <li style="font-weight: bold;" class="wc-calendar__days-names__item">6</li>
        <li style="font-size:10;" class="wc-calendar__days-names__item">Math</li>
        <li style="font-size:10;" class="wc-calendar__days-names__item">Biology</li>
        <li style="font-size:10;" class="wc-calendar__days-names__item">Character<br>Building</li>
        <li style="font-size:10;" class="wc-calendar__days-names__item">Biology</li>
        <li style="font-size:10;" class="wc-calendar__days-names__item">Chemistry</li>
      </ul>
      <hr/>
    </div>
