{% extends "MainPage.html" %}
{% load static %}
{% block title %}
    Hello {{ individual }}
{% endblock %}
{% block address %}
  <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
  <li class="breadcrumb-item"><a href="{% url 'school:main' %}">School</a></li>
  <li class="breadcrumb-item"><a href="javascript:">Student</a></li>
  <li class="breadcrumb-item"><a href="javascript:">Profile</a></li>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Your Fees Is Not Submitted</h5>
                </div>
                <div class="card-body">
                    <h4>Plese Submit Fees As Soon As Possible</h4>
                    <h5>You Can Use <a href="javascript:" onclick="showProcedure()">This Method</a> Or Come To School To Submit Fees</h5>
                    <div id="procedure" style="display: none;">
                        <ol>
                            <li>Step # 1 : Submit 500 Rupees</li>
                            <li>Submit The Amount  At : 
                                <ul>
                                    <li>Easypaisa Account = Zahid Ali Mughal(03123379978)</li>
                                    OR
                                    <li>Bank IBAN Number = PK73MEZN0001890101742064</li>
                                </ul>
                            </li>
                            <li>Take A Picture Of The Receipt(Or Message) And Whatsapp It To 03123379978 With :
                                <ul>
                                    <li>< Your Name ></li>
                                    <li>< Your Child Name ></li>
                                    <li>< Your Child Class ></li>
                                </ul>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5>Time Table</h5>
                </div>
                <div class="card-body">
                    {% if clas == 'pre' %}
                        {% include 'Indivisuals/M-PTimeTable.html' %}
                    {% elif clas == 'primary' %}
                        {% include 'Indivisuals/1-8TimeTable.html' %}
                    {% elif clas == 'ninth' %}
                        {% include 'Indivisuals/9TimeTable.html' %}
                    {% elif clas == 'tenth' %}
                        {% include 'Indivisuals/10TimeTable.html' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        function showProcedure() {
            var procedure = document.getElementById("procedure");
            procedure.style.display = "block";
        }
    </script>
{% endblock %}