{% extends "MainPage.html" %}
{% load static %}
{% block title %}
    Hello {{ request.user.first_name }}
{% endblock %}
{% block address %}
  <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
  <li class="breadcrumb-item"><a href="{% url 'school:main' %}">School</a></li>
  <li class="breadcrumb-item"><a href="{% url 'school:all' %}">View</a></li>
  <li class="breadcrumb-item"><a href="{% url 'school_individuals:indivisuals_list' %}">Individuals</a></li>
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>View All Individuals</h5>
        </div>
        <div class="card-body">
          {% if request.user.is_authenticated %}
            {% for i in request.session.user %}
              {% if i == 'Admin' %}
                <a class="btn btn-primary" style="float: left;" href="{% url 'school_individuals:indivisuals_create' %}">Add Another</a>
                <div style="float:right;">
                  <a style="color: #000000;">Total {{ total }}</a>
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
          <br>
          <br>
          <div class="row">
            <div class="col-sm-12 col-xl-4">
              <form method="POST">
                <select class="form-control" style="width: 65%;float: left;margin-right: 10px;" name="school">
                  <option value="None">-------------------</option>
                  <option value="Digital-School">Individuals</option>
                  {% for i in school %}
                    <option value="{{ i.pk }}">{{ i }}</option>
                  {% endfor %}
                </select>
                <button class="btn btn-primary">Search</button>
                {% csrf_token %}
              </form>
            </div>
          </div>
          <div class="table-responsive">
                        <table  class="table table-hover">
            <thead class="text-center">
              <tr>
                <th>Name</th>
                <th>Class</th>
                <th>Active</th>
                {% if request.user.is_authenticated %}
                  {% for i in request.session.user %}
                    {% if i == 'Admin' %}
                      <th>Action</th>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </tr>
            </div>
          </div>
            </thead>
            <tbody class="text-center">
              {% for i in indivisual %}
                <tr>
                  <td><a href="{% url 'school_individuals:indivisuals_detail' i.pk %}">{{ i.name }}</a></td>
                  <td>{{ i.clas }}</td>
                  <td>{{ i.active }}</td>
                  {% if request.user.is_authenticated %}
                    {% for v in user %}
                      {% if v.name == 'Admin' %}
                        <td><a class="btn btn-primary" href="{% url 'school_individuals:indivisuals_edit' i.pk %}">Edit</a><a href="{% url 'school_individuals:indivisuals_delete' i.pk %}" class="btn btn-primary">Delete</a></td>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
</div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}