<div class="card-block table-border-style">
  <div class="table-responsive">
    <div class="table-responsive">
                        <table  class="table table-hover">
        <thead class="text-center">
            <tr>
                <th>#</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr>
              <th>1</th>
              <td>Urdu</td>
              <td>English</td>
              <td>E.C.E</td>
              <td>Math</td>
              <td>Drawing</td>
            </tr>
            <tr>
              <th>2</th>
              <td>English</td>
              <td>E.C.E</td>
              <td>Math</td>
              <td>Drawing</td>
              <td>Activity</td>
            </tr>
            <tr>
              <th>3</th>
              <td>E.C.E</td>
              <td>Math</td>
              <td>Drawing</td>
              <td>Activity</td>
              <td>Urdu</td>
            </tr>
            <tr>
              <th>4</th>
              <td>Math</td>
              <td>Drawing</td>
              <td>Activity</td>
              <td>Urdu</td>
              <td>English</td>
            </tr>
            <tr>
              <th>5</th>
              <td>Drawing</td>
              <td>Activity</td>
              <td>Urdu</td>
              <td>English</td>
              <td>E.C.E</td>
            </tr>
            <tr>
              <th>6</th>
              <td>Activity</td>
              <td>Urdu</td>
              <td>English</td>
              <td>E.C.E</td>
              <td>Math</td>
            </tr>
        </tbody>
    </table>
</div>
  </div>
</div>
        