{% extends "MainPage.html" %}
{% load static %}
{% block title %}
    Hello {{ request.user.first_name }}
{% endblock %}
{% block address %}
    <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">RelationShips</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Match</a></li>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5>Male</h5>                    
                </div>
                <div class="card-body">
                    <div class="accordion" id="matching_male">
                        {% for i in male %}
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0"><a href="javascript:" data-toggle="collapse" data-target="#{{ i.pk }}" aria-expanded="false" aria-controls="collapseOne" class="collapsed">{{ i.name }}</a></h5>
                                </div>
                                <div id="{{ i.pk }}" class="card-body collapse" c_name="{{ i.name }}" c_value="{{ i.pk }}" aria-labelledby="headingOne" data-parent="#matching_male">
                                    {% if i.image %}
                                        <button id="change_btn{{ i.pk }}" class="btn btn-primary" onclick="showImg('{{ i.pk }}')">Image</button>
                                        <div style="display: none;" id="img{{ i.pk }}">
                                            <img style="width: 100%;height: auto;" src="{{ i.image.url }}">
                                        </div>
                                    {% endif %}
                                    <div style="display: block" id="data{{ i.pk }}">
                                        Father Name = {{ i.father_name }}<br>
                                        Date Of Birth = {{ i.date_of_birth }}<br>
                                        Age = {{ i.age }}<br>
                                        Occupation = {{ i.occupation }}<br>
                                        Education = {{ i.education }}<br>
                                        Address = {{ i.address }}<br>
                                        Religion = {{ i.religion }}<br>
                                        Mother_toungue = {{ i.mother_toungue }}<br>
                                        Monthly_income = {{ i.monthly_income }}<br>
                                        <a style="color: red;">Matched With {{ i.matched }}</a><br>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5>Female</h5>                    
                </div>               
                <div class="card-body" >
                    <div class="accordion" id="matching_female">
                        {% for i in female %}
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0"><a href="javascript:" data-toggle="collapse" data-target="#{{ i.pk }}" aria-expanded="false" aria-controls="collapseOne" class="collapsed">{{ i.name }}</a></h5>
                                </div>
                                <div id="{{ i.pk }}" class="card-body collapse" c_name="{{ i.name }}" c_value="{{ i.pk }}" aria-labelledby="headingOne" data-parent="#matching_female">
                                    {% if i.image %}
                                        <button id="change_btn{{ i.pk }}" class="btn btn-primary" onclick="showImg('{{ i.pk }}')">Image</button>
                                        <div style="display: none;" id="img{{ i.pk }}">
                                            <img style="width: 100%;height: auto;" src="{{ i.image.url }}">
                                        </div>
                                    {% endif %}
                                    <div style="display: block" id="data{{ i.pk }}">
                                        Father Name = {{ i.father_name }}<br>
                                        Date Of Birth = {{ i.date_of_birth }}<br>
                                        Age = {{ i.age }}<br>
                                        Occupation = {{ i.occupation }}<br>
                                        Education = {{ i.education }}<br>
                                        Address = {{ i.address }}<br>
                                        Religion = {{ i.religion }}<br>
                                        Mother_toungue = {{ i.mother_toungue }}<br>
                                        Monthly_income = {{ i.monthly_income }}<br>
                                        <a style="color: red;">Matched With {{ i.matched }}</a><br>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form method="POST" id="match" action="{% url 'relationships_matching:match' %}">
        <input type="text" id="male_pk" name="male" value="abc" class="form-control" hidden>
        <input type="text" id="female_pk" name="female" value="def" class="form-control" hidden>
        {% csrf_token %}
    </form>
    <button class="btn btn-primary" onclick="match()" style="position: fixed;bottom: 60px;right: 60px;z-index: 1;">Match</button>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        function showImg(pk) {
            data = document.getElementById("data" + pk).style.display;
            img = document.getElementById("img" + pk).style.display;
            if(data == 'none'){
                document.getElementById("data" + pk).style.display = 'block';
                document.getElementById("img" + pk).style.display = 'none';
                document.getElementById("change_btn" + pk).innerHTML = 'Image';
            }
            if(data == 'block'){
                document.getElementById("data" + pk).style.display = 'none';
                document.getElementById("img" + pk).style.display = 'block';
                document.getElementById("change_btn" + pk).innerHTML = 'Data';
            }
        }
    </script>
    <script type="text/javascript">
        function match() {
            var elements = document.getElementsByClassName('card-body collapse show');
            var form = document.getElementById('match');
            var name = ['male_pk','female_pk']
            if(elements.length == '2'){
                for (let i = 0; i < elements.length; i++) {
                    document.getElementById(name[i]).value = elements[i].getAttribute('c_value');
                }
                male = elements[0].getAttribute('c_name');
                female = elements[1].getAttribute('c_name');
                let text = "Match " + male + " And " + female;
                if (confirm(text) == true) {
                    form.submit();
                } else {
                    
                }
            }else{
                alert("Please Select A Male And Female Candidate")
            }
        }
    </script>
{% endblock %}