{% extends "MainPage.html" %}
{% load static %}
{% block title %}
    Hello {{ request.user.first_name }}
{% endblock %}
{% block address %}
<li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
<li class="breadcrumb-item"><a href="{% url 'school:main' %}">School</a></li>
<li class="breadcrumb-item"><a href="{% url 'school:select_to_add' %}">Add</a></li>
<li class="breadcrumb-item"><a href="javascript:">Class</a></li>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="text-center" style="font-family:sans-serif;">Add Class</h5>
                </div>
                <div class="card-body">
                    <form method="POST">
                        <div class="form-group">
                            <label for="id_name">Number</label>
                            <input class="form-control" type="number" name="serial" required="" id="id_serial">
                            <small id="emailHelp" class="form-text text-muted">The Class Will Show On Lists According To This Number .</small>
                        </div>
                        <div class="form-group">
                            <label for="id_name">Class Name</label>
                            <input class="form-control" type="text" name="class_name" maxlength="200" required="" id="id_class_name">
                        </div>
                        <button class="btn btn-primary form-control" >Add</button>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}