{% extends "MainPage.html" %}
{% load static %}
{% block title %}
    Hello {{ request.user.first_name }}
{% endblock %}
{% block address %}
    <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="javascript:">Shop</a></li>
    <li class="breadcrumb-item"><a href="javascript:">Request</a></li>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Your Shop</h5>
                </div>
                <div class="card-body">
                    {% if return %}
                        <h5>{{ return }}</h5>
                    {% endif %}
                    <form method="POST" action="{% url 'shop:shop_create' %}">
                        <div class="form-group">
                            <label for="Category">Shop Name</label>
                            <input class="form-control" type='text' name='shop_name'>
                        </div>
                        <button class="btn btn-primary" type="submit">Request Shop</button>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}